<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/hsrb/command_velocity" />
    
    <rosparam file="$(find sigverse_hsrb_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find sigverse_hsrb_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sigverse_hsrb_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find sigverse_hsrb_nav)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find sigverse_hsrb_nav)/config/move_base.yaml" command="load" />
  </node>
  
</launch> 
